.main-title {
    color: #F25A70;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    text-shadow: 4px 4px 0 #000;
    
}

.main-title._select {
    color: #FFF;
    text-align: center;
    text-shadow: none;
    

}
