.main-title {
    color: #4e000c;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    text-shadow: 4px 4px 0 #000;
    padding-top: 50px;
    padding-bottom: 30px;
    
}


.main-title._main-box {
    padding-top: 0px;


}

.main-title._select {
    color: #FFF;
    text-align: center;
    text-shadow: none;


}


