.section {
    box-sizing: border-box;
    background-color: #041302;
    height: 730px;
    border-bottom: #00ff0d 10px solid;
    padding-bottom: 100px;
}

.section .bar {
        display: flex;
        background-color: #fff;
        border: 5px solid #000;
        width: 320px;
        height: 40px;
        margin-top: 16px;
        
        }



.section .colums {
    display: flex;
    justify-content: space-evenly;


}
